push constant 10
pop local 0
push pointer 0
pop local 1
pop temp 0
push local 1
call CallTest.add 2
pop temp 0
push constant 5
call CallTest.staticAdd 2
pop temp 0
push constant 3
call String.new 1
pop local 2
push constant 72
pop temp 0
add
return
add
return
